<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}RestoBan{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  </head>
  <body class="container">
    <header>
      <nav>
        <ul>
          <li><strong><a href="/">RestoBan</a></strong></li>
        </ul>
        <ul>
          <li><a href="{% url 'restoban:recipe_create' %}">+ New Recipe</a></li>
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
